@font-face {
    font-family: 'MPLUS1p Black';
    src: url('./fonts/M_PLUS_1p/MPLUS1p-Black.ttf');
}
@font-face {
    font-family: 'MPLUS1p bold';
    src: url('./fonts/M_PLUS_1p/MPLUS1p-Bold.ttf');
}
@font-face {
    font-family: 'MPLUS1p ExtraBold';
    src: url('./fonts/M_PLUS_1p/MPLUS1p-ExtraBold.ttf');
}
@font-face {
    font-family: 'MPLUS1p Light';
    src: url('./fonts/M_PLUS_1p/MPLUS1p-Light.ttf');
}
@font-face {
    font-family: 'MPLUS1p Medium';
    src: url('./fonts/M_PLUS_1p/MPLUS1p-Medium.ttf');
}
@font-face {
    font-family: 'MPLUS1p';
    src: url('./fonts/M_PLUS_1p/MPLUS1p-Regular.ttf');
}
@font-face {
    font-family: 'MPLUS1p Thin';
    src: url('./fonts/M_PLUS_1p/MPLUS1p-Thin.ttf');
}



@font-face {
    font-family: 'Avenir Black';
    src: url('./fonts/Avenir-Font/AvenirLTStd-Black.otf');
}
@font-face {
    font-family: 'Avenir Book';
    src: url('./fonts/Avenir-Font/AvenirLTStd-Book.otf');
}
@font-face {
    font-family: 'Avenir Roman';
    src: url('./fonts/Avenir-Font/AvenirLTStd-Roman.otf');
}