@import url('./font-face.css');
:root {
    --primary-color: #FF3728;
    --width-navlist-sm: 222px;
    --primary-border: 5px;
    --height-navbar: 80px;
    --size-title: 60px;
    --padding-input: 10px;
    --text-input: 16px;
    --text-size-primary: 18px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'MPLUS1p bold', sans-serif;
    font-size: 14px;
    max-width: 1366px;
    margin: 0 auto;
}
#app {
    overflow: hidden;
    /* background-image: url('./image/TOP\ -\ A.png'); */
}
@media screen
and (max-width: 992px) {
    :root {
        --text-size-primary: 16px;
    }
}
@media screen
and (max-width: 768px) {
    :root {
        --text-size-primary: 14px;
    }
}
@media screen
and (max-width: 576px) {
    :root {
        --height-navbar: 73px;
        --primary-border: 3px;
        --size-title: 40px;
        --padding-input: 5px;
        --text-input: 14px;
        --text-size-primary: 14px;

    }
    #app {
        width: 100%;
    }
    .mb-phone-0 {
        margin-bottom: 0 !important;
    }
}
/* Form Start */
.btn {
    border: none;
    width: 187px;
    height: 38px;
    font-weight: bold;
    font-size: var(--text-size-primary);
    cursor: pointer;
    border-radius: 4px;
}
.btn-primary {
    font-family: 'MPLUS1p';
    color: #fff;
    background-color: var(--primary-color);

}

.btn i {
    display: none;
}
.btn.hiden span{
    display: none;
}
.btn.hiden i {
    display: block;
}

.home__btn {
    margin: 0 auto ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: var(--text-size-primary);
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    width: 361px;
    height: 60px;
    padding: 0 25px;
    cursor: pointer;
    position: relative;
}
.home__btn > p {
    display: none;
    position: absolute;
    top: 0; left: 0; right: 0;bottom: 0;
    transform: translateY(-110%);
    border: 1px solid #1fb11a;
    background: #1fb11a;
    line-height: 50px;
    font-weight: bold;
    animation: loadSuccess 0.4s linear 0s 1;
}
.home__btn.success > p {
    display: block;
}
@keyframes loadSuccess {
    0% {
        opacity: 0;
        transform: translate(-100%, -110%);
    }
    100% {
        opacity: 1;
        transform: translate(0, -110%);
    }
}

.home__btn span {
    font-family: 'MPLUS1p bold';
    transition: all linear 0.4s;
}
.home__btn img {
    width: 16px;
    transition: all linear 0.4s;
}
.home__btn:hover span {
    transform: rotateY(360deg);
}
.home__btn:hover img {
    transform: rotate(360deg);
}
.home__btn::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: var(--primary-border) solid var(--primary-color);
    transform: translate(6px, 6px);
}

.form__group {
    font-family: 'MPLUS1p Medium';
    display: flex;
    margin-bottom: 35px;
    flex-wrap: wrap;
    align-items: center;
}
.form__group.location-mb-1 {
    margin-bottom: 27px;
    position: relative;
    top: -5px
}
.form__group.pc-01 {

}
/* form group */

.form__group > label:first-child {
    letter-spacing: -2px;
    width: 25%;
}
.form__group.pc-01 > label:first-child {
    width: 34%;
}
.form__group .line,
.form__group .line-1 {
    width: 75%;
    height: 2px;
    background-color: var(--primary-color);
    margin: 10px 0;
    position: relative;
    top: -2px;
}
.form__group.pc-01 .line-1 {
    width: 66%;
}

.form__group .line::after,
.form__group .form__input::after,
.form__group .form__select::after,
.form__group .form__date::after {
    content: "必須";
    font-family: 'MPLUS1p Medium';
    position: absolute;
    left: 0;
    font-size: 12px;
}
.form__group .line::after {
    top: -5px;
    transform: translateX(-130%);
}
.form__group .form__input::after,
.form__group .form__select::after,
.form__group .form__date::after {
    top: 50%;
    transform: translate(-130%, -50%);
}

/* radio */
.form__radio {
    width: 100%;
    position: relative;
    margin-top: 16px;
    margin-left: 24%;
}

.form__radio .radio-check {

}
.form__radio .radio-check label,
.form__radio .radio-check-2 label {
    display: inline-block;
    margin-right: 13px;
    margin-left: 12px;
    user-select: none;
    cursor: pointer;
}
.form__radio .radio-check-2 label {
    margin-right: 0;
    margin-left: 12px;
    margin-bottom: 11px;
}
.form__radio .radio-check label input[type="radio"],
.form__radio .radio-check-2 label input[type="radio"] {
    display: none;
}
.form__radio .radio-check label .radio__custom,
.form__radio .radio-check-2 label .radio__custom {
    display: inline-block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid var(--primary-color);
    position: relative;
    top: 2px;
}
.form__radio .radio-check label .radio__custom::after,
.form__radio .radio-check-2 label .radio__custom::after {
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    border-radius: 50%;
    top: 1px; right: 1px; bottom: 1px; left: 1px;
    display: none;
}
.form__radio .radio-check label input[type="radio"]:checked + .radio__custom::after,
.form__radio .radio-check-2 label input[type="radio"]:checked + .radio__custom::after {
    display: block;
}

.form__radio textarea {
    width: 100%;
    border: 2px solid rgba(255, 55, 40, 0.6);
    outline: none;
    color: var(--primary-color);
    font-size: 18px;
    padding: 10px;
}
.form__group.pc-01 .form__radio textarea {
    height: 174px;
}
.form__group .form__radio textarea {
    height: 332px;
}
.form__radio textarea:focus,
.form__radio textarea:hover {
    border: 2px solid var(--primary-color);
}
/* input */
.form__group .form__input {
    width: 75%;
    display: flex;
    position: relative;
}


.form__group .form__input input {
    padding: var(--padding-input);
    outline: none;
    border: 2px solid rgba(255, 55, 40, 0.6);
    width: 100%;
    color: var(--primary-color);
    font-size: var(--text-input);
}
.form__group .form__input input::placeholder,
.form__group .form__date input::placeholder {
    color: var(--primary-color);
    opacity: 0.8;
}
.form__group .form__input input:hover,
.form__group .form__input input:focus,
.form__group .form__date input:hover,
.form__group .form__date input:focus {
    border: 2px solid var(--primary-color);
}
.form__group .form__input input[type="text"]:first-child {
    margin-right: 2px;
}
.form__group .form__input input[type="text"] + input[type="text"] {
    margin-left: 10px;
} 
/* select */
.form__select {
    width: 75%;
    display: flex;
    position: relative;
    user-select: none;
    top: -2px;
}
.form__select input[type="text"] {
    padding: var(--padding-input);
    outline: none;
    border: 2px solid rgba(255, 55, 40, 0.6);
    width: 100%;
    color: var(--primary-color);
    font-size: var(--text-input);
    cursor: pointer;    
    user-select: none;
}
.form__select > i {
    position: absolute;
    top: 10%; right: 24px;
    font-size: 24px;
    cursor: pointer;    
}
.form__select .select-option {
    position: absolute;
    border: 2px solid var(--primary-color);
    background: #fff;
    border-top: none;
    top: 100%;
    left: 0;
    right: 0;
    height: auto;
    display: none;
    flex-direction: column;
    z-index: 5;
}

.form__select.select .select-option{
    display: flex;

}
.form__select .select-option span {
    padding: var(--padding-input);
    cursor: pointer;
}
.form__select .select-option span:hover {
    background-color: rgba(255, 55, 40, 0.2);
}
/* form date */
.form__date {
    width: 75%;
    position: relative;
}
.form__date input[type="number"] {
    padding: var(--padding-input);
    outline: none;
    border: 2px solid rgba(255, 55, 40, 0.6);
    color: var(--primary-color);
    font-size: var(--text-input);
    width: 18%;
    position: relative;
}
.form__date span {
    display: inline-block;
    width: 15px;
    height: 2px;
    background-color: var(--primary-color);
    margin: 0 6px;
}

.form__date input[type="text"]:hover,
.form__date input[type="text"]:focus {
    border: 2px solid var(--primary-color);
}
/* check box */
.form__checkbox {
    font-family: 'MPLUS1p Medium';
    display: flex;
    align-items: center;
    cursor: pointer;
}
.form__checkbox input[type="checkbox"] {
    display: none;
}
.form__checkbox .custom {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid var(--primary-color);
    margin-right: 10px;
    position: relative;
}
.form__checkbox .custom i {
    display: none;
    position: absolute;
    top: -9px;
    left: -4px;
    font-size: 24px;
}
.form__checkbox input[type="checkbox"]:checked + .custom i {
    display: block;
}
/* policy */
.form__policy {
    margin: 77px 21% 86px 21%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form__policy-title {
    font-family: 'MPLUS1p Medium';
    font-size: var(--text-size-primary);
}

.form__policy-border {
    font-family: 'MPLUS1p';
    margin: 29px 0;
    border: 3px solid var(--primary-color);
    padding: 10px;
    height: 124px;
    overflow: hidden;
}
.form__policy-desc {
    font-size: var(--text-size-primary);
    height: 100%;
    line-height: 32px;
    overflow: auto;
}
.form__policy-desc::-webkit-scrollbar {
    width: 4px;
}
.form__policy-desc::-webkit-scrollbar-thumb {
    background-color: #FF3728;
    border-radius: 30px;
}
@media screen
and (max-width: 992px) {
    .form__policy {
        margin: 77px 15% 86px 15%;
    }
}
@media screen
and (max-width: 768px) {
    .form__policy {
        margin: 77px 10% 86px 10%;
    }
}
@media screen
and (max-width: 576px) {
    .btn {
        border: none;
        padding: 4px 19px;
        font-weight: bold;
        font-size: 12px;
        cursor: pointer;
        width: 98px;
        height: 24px;
    }
 
    .home__btn {
        margin: 0 auto;
        font-size: 13px;
        width: 271px;
        height: 45px;
    }
    .home__btn img {
        width: 9px;
    }
    /* form group */
    .form__group {
        margin-bottom: 17px;
    }
    .form__group:nth-child(2) {
        margin-bottom: 30px;
    }
    .form__group:nth-child(3) {
        margin-bottom: 33px;
    }
    .form__group:nth-child(4) {
        margin-bottom: 24px;
    }
    .form__group:nth-child(5) {
        margin-bottom: 30px;
    }
    .form__group:nth-child(6) {
        margin-bottom: 45px;
    }
    .form__group:nth-child(7) {
        margin-bottom: 28px;
    }
    .form__group:nth-child(8) {
        margin-bottom: 56px;
    }
    .form__group > label:first-child {
        width: 70%;
        font-size: 18px;
    }
    .form__group .line {
    width: 30%;
    height: 2px;
    background-color: var(--primary-color);
    margin: 10px 0;
    position: relative;
    }
    .form__group .line-1 {
        width: 30%;
    }
    .form__group .form__input input {
        font-size: 18px;
        padding: 7px;
    }
    .form__date input[type="number"] {
        font-size: 18px;
        padding: 7px;
    }
    .form__group .form__input::after,
    .form__group .form__select::after,
    .form__group .form__date::after {
        left: 25%;
        top: -50%;
    }
    .form__group .form__date::after {
        left: 30%;
    }
    .form__group.location-mb-1 .form__input::after {
        left: 50%;
    }
    .form__group.pc-01 > label:first-child {
        width: 70%;
    }
    .form__group.pc-01 .line-1 {
        width: 30%;
    }
    /* radio */
    .form__radio {
        margin: 18px 0 0 0;
    }
    .form__radio .radio-check label,
    .form__radio .radio-check-2 label {
        margin-right: -17px;
        margin-left: 27px;
        margin-bottom: 10px;
    }
    .form__radio .radio-check label .radio__custom,
    .form__radio .radio-check-2 label .radio__custom {
        margin-right: 5px;
    }
    .form__group.pc-01 .form__radio .radio-check label {
        display: block;
    }

    .form__group.pc-01 .form__radio {
        margin-top: 9px;
    }
    .form__group.pc-01 .form__radio .radio-check-2 {
        margin-bottom: 10px;
    }
    .form__group.pc-01 .form__radio .radio-check-2 label {
        display: block;
    }
    .form__group.pc-01 .form__radio textarea {
        height: 168px;
    }
    .form__group .form__radio textarea {
        height: 332px;
    }
    /* input */
    .form__group .form__input {
        width: 100%;
        margin-top: 10px;
    }
    /* select */
    .form__select input[type="text"] {
        font-size: 18px;
        padding: 8px;

    }
    .form__select {
        width: 100%;
        margin-top: 10px;
    }
    .form__select > i {
        top: 20%; right: 18px;
        font-size: 18px;
    }
    /* form date */
    .form__date {
        width: 100%;
        margin-top: 10px;

    }
    .form__date input[type="text"] {
        width: 25%;
    }
    /* policy */
    .form__policy {
        margin: 0;
        margin-bottom: 72px;
    }
    .form__policy-border {
        margin-bottom: 33px;
        height: 180px;
    }
    .form__policy-desc {
        line-height: 26px;
    }
}
/* Form End */

/* Nav Bar Start  */
#navbar {
    max-width: 1366px;
    margin: auto;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /* background: #fff; */
    z-index: 100;

}
.navbar {
    height: var(--height-navbar);
    background-color: #fff;
    display: flex;
    align-items: center;
    border-bottom: var(--primary-border) solid var(--primary-color);
    
}

.navbar__logo {
    width: 69px;
    height: 69px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar__logo img {
    width: 80%;
    height: 80%;
}
.navbar__list {
    font-family: 'Avenir Black';
    margin-left: 63px;
    overflow: hidden;
    height: 20px;
}
.navbar__list .navbar__item {
    display: inline-block;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 23px;
    cursor: pointer;
}
.navbar__list .navbar__item a {
    text-decoration: none;
    color: var(--primary-color);
    user-select: none;
    font-size: var(--text-size-primary);
    line-height: 25px;
}
.navbar__list .navbar__item:hover {
    background-color: var(--primary-color);
}
.navbar__list .navbar__item:hover a {
    color: #fff;
}
.navbar__auth {
    margin-left: auto;
    display: flex;
    align-items: center;
    position: relative;
    top: 3px;
}
.navbar__auth .navbar__auth-btn,
.navbar__auth .navbar__auth-social,
.navbar__auth .navbar__auth-icon-sm {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.navbar__auth .navbar__auth-social img {
    width: 44px;
}
.navbar__auth .navbar__auth-icon-sm {
    display: none;
}
@media screen
and (max-width: 576px) {
    .navbar__logo {
        width: 61px;
        height: 61px;
        margin-left: 5px;
    }
    .navbar__auth .navbar__auth-icon-sm {
        display: inline;
        font-size: 15px;
        color: var(--primary-color);
        font-weight: bold;
    }
    .navbar__list {
        height: auto;
        margin: 0;
        position: fixed;
        /* right: 10px; */
        right: calc(0px - var(--width-navlist-sm));
        top: 14px;
        width: var(--width-navlist-sm);
        border: var(--primary-border) solid var(--primary-color);
        background-color: #fff;
        transition: right linear 0.2s;
        z-index: 10;
    }
    .navbar__list.show {
        right: 10px;
    }
    .navbar__list .navbar__item {
        display: block;
        margin-top: 14px;
        margin-left: 28px;
    }
    .navbar__list .navbar__item:first-child {
        margin-top: 30px;
    }
    .navbar__list .navbar__item:last-child {
        margin-bottom: 30px;
    }
    .navbar__list .close-custom {
        position: absolute;
        top: 14px;
        right: 11px;
        font-size: 16px;
        color: var(--primary-color);
        font-weight: bold;
    }
    .navbar__auth .navbar__auth-social img {
        width: 29px;
    }
    .navbar__auth {
        top: 2px;
    }
    .navbar__auth .navbar__auth-btn {
        margin-right: 12px;
    }
    .navbar__auth .navbar__auth-social {
        margin-right: 19px;
    }
    .navbar__auth .navbar__auth-icon-sm {
        font-size: 21px;
        margin-right: 19px;

    }
}
/* Nav Bar End  */

/* Slider Start */
.slider {
    display: flex;
    border: var(--primary-border) solid var(--primary-color);
    border-top: none;
    overflow: hidden;
    margin-top: var(--height-navbar);
    height: 668px;
}

.slider__left {
    border-right: var(--primary-border) solid var(--primary-color);
    width: 53%;
    position: relative;

}
.slider__left-image1, .slider__left-image2 {
    width: 100%;
    margin-top: 20px;
}
.slider__left-image2 {
    margin-top: 15px;

}
.slider__left-image2 img {
    width: 76%;
    position: relative;
    left: 12px;
}
.slider__left-image1 img {
    width: 68%;
    position: relative;
    top: 4px;
    left: -4px;
}
.slider__left-image2 {
    text-align: center;
}
.slider__left-image1 {
   position: absolute;
   bottom: 0;
   left: 0;
}

.slider__right {
    width: 47%;
}

.slider__right-top {
    height: 57%;
    overflow: hidden;
}
.slider__right-top img {
    height: 100%;
}
.slider__right-button {
    border-top: var(--primary-border) solid var(--primary-color);
    display: flex;
    height: 43%;
}
.slider__right-button__left {
    border-right: var(--primary-border) solid var(--primary-color);
    width: 40%;
    text-align: center;
}
.slider__right-button__left span {
    display: inline-block;
    overflow: hidden;
    font-weight: bold;
    color: var(--primary-color);

    font-size: 90px;
    line-height: 102px;
    height: 202px;
    width: 90%;
    
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.slider__right-button__right {
    width: 61%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider__right-button__right .title {
    color: var(--primary-color);
    position: relative;
    bottom: 12px;
}
.slider__right-button__right .title p:first-child {
    padding: 5px;
    font-size: 46px;
    text-align: center;
}
.slider__right-button__right .title p:last-child {
    border: var(--primary-border) solid var(--primary-color);
    padding: 0 14px;
    font-size: 48px;
    position: relative;
    bottom: 3px;
}
.slider__right-button__right .img-1 {
    position: absolute;
    width: 72%;
    bottom: 0px;
    right: -4px;
}
@media screen
and (max-width: 1200px) {
    .slider__right-button__left span {
        font-size: 76px;
        line-height: 94px;
        height: 188px;
    }
    .slider__right-button__right .title p:first-child {
        font-size: 38px;
    }
    .slider__right-button__right .title p:last-child {
        padding: 4px 10px;
        font-size: 40px;
    }
}
@media screen
and (max-width: 992px) {
    .slider__left {
        display: flex;
        align-items: center;
    }

    .slider__right-button__left span {
        font-size: 58px;
        line-height: 74px;
        height: 148px;
    }
    .slider__right-button__right .title p:first-child {
        font-size: 28px;
    }
    .slider__right-button__right .title p:last-child {
        font-size: 30px;
    }
}
@media screen
and (max-width: 768px) {
   
    .slider__right-button__left span {
        font-size: 42px;
        line-height: 56px;
        height: 112px;
    }
    .slider__right-button__right .title {
        font-size: 18px;
    }
    .slider__right-button__right .title p:first-child {
        font-size: 18px;
    }
    .slider__right-button__right .title p:last-child {
        font-size: 20px;
    }
}
@media screen
and (max-width: 576px) {
    .slider {
        border: none;
        flex-direction: column;
        height: auto;
    }
    .slider__left {
        border: none;
        width: 100%;
        /* height: 337px; */
        border-bottom: var(--primary-border) solid var(--primary-color);
        margin-top: 12px;
        flex-direction: column;
    }
    .slider__left-image2 {
        margin-top: 0;
    }
    .slider__left-image2 img {
        width: 68%;
        left: 14px;
        top: 17px;
    }
    .slider__left-image1 {
        position: relative;
        margin-top: 32px;
    }
    .slider__left-image1 img{
        width: 74%;
        left: -5px;
    }

    .slider__right {
        width: 100%;
    }
    .slider__right-top {
        height: 222px;
    }
    .slider__right-top img {
        width: 100%;
    }
    .slider__right-button {
        border-bottom: var(--primary-border) solid var(--primary-color);
        height: 176px;
    }
    .slider__right-button__left {
        width: 40%;
    }
    .slider__right-button__left span {
        font-size: 52px;
        line-height: 60px;
        height: 120px;
        width: 105px;
    }
    .slider__right-button__right {
        align-items: flex-start;
    }
    .slider__right-button__right .title {
        top: 50%;
        transform: translateY(-56%);
    }
    .slider__right-button__right .title p:first-child {
        padding: 5px 5px;
        font-size: 25px;
    }
    .slider__right-button__right .title p:last-child {
        font-size: 28px;
        padding: 0 12px;
        left: 2px;
        bottom: 1px;
    }
    .slider__right-button__right .img-2 {
        width: 75%;
    }
    .slider__right-button__right .img-1 {
        right: 9px;
    }
}
/* Slider End */


/* Slider 2 Start */
.slider-2 {
    background-image: url(./image/bg-1.png);
    height: 579px;
    position: relative;
    border-bottom: var(--primary-border) solid var(--primary-color);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.slider-2 .slider-2__content {
    color: var(--primary-color);
    margin-left: 8%;
    font-size: var(--text-size-primary);
    position: relative;
    top: 9px;
}
.slider-2 .slider-2__content p {
    margin-bottom: 14px;
    font-size: var(--text-size-primary);

}
.slider-2 .slider-2__image {
    width: 56%;
    position: relative;
    left: 12px;
}
.slider-2 .slider-2__image .image-4 {
    width: 100%;
}
.slider-2 .slider-2__image .image-1 {
    position: absolute;
    bottom: 10%;
    right: 0;
    transform: translateX(20%);
    width: 10%;
}
.slider-2 .slider-2__image .image-2 {
    position: absolute;
    width: 20%;
    top: 0;
    left: 45%;
    transform: translateY(-20%);
}
.slider-2 .slider-2__image .image-3 {
    position: absolute;
    width: 23%;
    left: 0;
    bottom: 0;
    transform: translate(-35%, 30%);
}

@media screen
and (max-width: 576px) {
    
    .slider-2 {
        flex-direction: column;
        justify-content: space-around;
        height: 383px;
        padding: 42px 0 50px;
    }
    .slider-2 .slider-2__content {
        font-size: 15px;
    }
    .slider-2 .slider-2__content p {
        margin-bottom: 8px;
        font-size: 15px;
    }
    .slider-2 .slider-2__image {
        width: 75%;
    }
}
/* Slider 2 End */

/* Poin Start */
.poin {
    padding-top: 110px;
    text-align: center;
    border-bottom: var(--primary-border) solid var(--primary-color);

}
.poin__title {
    font-family: 'Avenir Black';
    color: var(--primary-color);
    font-size: var(--size-title);
    letter-spacing: 3px;
}
.poin__table {
    margin: 0 11%;
    margin-top: 128px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 20px 20px 0 #FF9A92;    
}


.poin__cell {
    color: var(--primary-color);
    width: 50%;
    border: var(--primary-border) solid var(--primary-color);
    padding: 9% 9%;
    /* background-color: #fff; */
    position: relative;
    height: 744px;
}
.poin__cell:nth-child(4n+1) {
    border-right: none;
}
.poin__cell:nth-child(4n+3) {
    border-right: none;
    border-top: none;
    padding-top: 7%;
    height: 739px;

}
.poin__cell:nth-child(4n+4) {
    border-top: none;
    padding-top: 7%;
    height: 739px;

}
.poin__cell-image {
    border: 3px solid var(--primary-color);
    width: 100%;
    position: relative;
    top: -4px;
}
.poin__cell-title {
    margin-top: 6%;
    margin-bottom: 11%;
    padding: 0 2%;
    font-size: 24px;
    line-height: 33px;
}
.poin__cell-desc {
    font-family: 'MPLUS1p';
    padding: 0 2%;
    text-align: justify;
    font-size: 16px;
    line-height: 37px;

}

.poin__cell .logo-1 {
    position: absolute;
    width: 50%;
    top: 0;
    left: -27%;
    transform: translateY(-55%);
}
.poin__cell .logo-2 {
    position: absolute;
    width: 14%;
    left: 0;
    top: 44%;
    transform: translate(-58%, -50%);
}
.poin__cell .logo-3 {
    position: absolute;
    background-color: #fff;
    width: 28%;
    left: 0;
    top: 31%;
    transform: translateX(-53%);
}
.poin__cell .logo-4 {
    position: absolute;
    width: 15%;
    right: 0;
    top: 18%;
    transform: translateX(50%);
}
.poin__cell .logo-5 {
    position: absolute;
    width: 33%;
    bottom: 0;
    right: -12%;
    transform: translateY(33%);
}

.poin__scenery {
    margin-top: 101px;
    display: flex;
}
.poin__scenery img {
    width: 50%;
}

.poin__scenery .logo-1 {
    bottom: 0;
    left: 0;
}
.poin__scenery .logo-2 {
    bottom: 0;
    right: 0;
}
@media screen
and (max-width: 576px) {
    .poin {
        padding-top: 80px;
        position: relative;
    }
    .poin__title {
        margin-bottom: 70px;
    }
    .poin__table {
        box-shadow: none;
        margin: 0;
    }
    .poin__cell {
        width: 100%;
        border-left: none;
        border-right: none;
        padding: 0 7%;
    }
    .poin__cell:first-child {
        height: auto;
        padding-top: 22%;
        padding-bottom: 18%;
    }
    .poin__cell:nth-child(4n+2) {
        padding-top: 22%;
    }
    .poin__cell:nth-child(4n+3) {
        padding-top: 17%;
    }
    .poin__cell:nth-child(4n+4) {
        padding-top: 17%;
    }
    .poin__cell-title {
        margin-top: 8%;
        margin-bottom: 11%;
        line-height: 36px;
    }

    .poin__cell-image {
        top: 0;
    }
    .poin__cell:nth-child(4n+2) {
        border-top: none;
    }

    .poin__cell .logo-2 {
        width: 19%;
        left: inherit;
        top: 0;
        right: -16px;
    }
    .poin__cell .logo-3 {
        background-color: initial;
        top: 0;
        transform: translateY(-30%);
        left: 11%;
        z-index: 10;
        width: 38%;
    }
    .poin__cell .logo-4 {
        right: 10%;
        top: 0;
        transform: none;
        transform: translateY(-50%);
        width: 19%;
    }
    .poin__cell .logo-5 {
        width: 44%;
        bottom: 0;
        right: 10%;
        transform: translateY(30%);
    }
    .poin__cell .logo-6 {
        position: absolute;
        width: 30%;
        top: 0;
        left: 0;
        transform: translateY(-104%);
    }
    .poin__scenery {
        margin-top: 58px;
    }
    .poin__scenery .logo-1 {
        width: 100%;
      
    }
}
/* Poin End */

/* Price Start */
.price {
    padding-top: 152px;
    padding-bottom: 151px;
    border-bottom: var(--primary-border) solid var(--primary-color);
}
.price__title {
    color: var(--primary-color);
    text-align: center;
}
.price__title h1 {
    font-family: 'Avenir Black';
    font-size: var(--size-title);
    letter-spacing: 4px;
    position: relative;
    left: 5px;

}
.price__title p {
    font-family: 'MPLUS1p Medium';
    font-size: 24px;
    margin-top: 11px;
}
.price__table {
    margin: 95px 14% 28px 14%;
    /* background-color: #fff; */
}
.price__table-distance:nth-child(2n+2) {
    transform: translateX(4%);
}
.price__table-border {
    background-image: url('./image/price-table.png');
    background-repeat: no-repeat;
    width: 101%;
    height: 457px;
    background-size: contain;
    margin-bottom: 43px;
    position: relative;
    right: 14px;
}
.price__table-header {
    font-family: 'MPLUS1p ExtraBold';
    color: #fff;
    font-size: 26px;
    width: 96%;
    text-align: center;
    line-height: 5.8vw;
    height: 5.8vw;
}
.price__table-form {
    width: 96%;
}

.price__table-form tr {
    font-family: 'MPLUS1p Medium';
    color: var(--primary-color);
}
.price__table-form tr td {
    font-size: 20px;
    text-align: center;
    line-height: 6vw;
}
.price__table-form tr td:first-child {
    width: 25%;
    position: relative;
    bottom: 3px;
    right: 2px;
}
.price__table-form tr td:last-child {
    width: 75%;
}


.price__price {
    font-family: 'MPLUS1p Medium';
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 93px;
}
.price__price-title {
    font-size: 24px;
    letter-spacing: -2px;
}
.price__price-buy {
    margin-top: 30px;
    letter-spacing: -1px;
}
.price__price-buy p {
    margin-top: 7px;
    font-size: 20px;
}
@media screen
and (max-width: 1200px) {
    .price__table {
        margin-right: 12%;
        margin-left: 12%;
    }
    .price__table-header {
        font-size: 24px;
    }
    .price__table-form tr td {
        font-size: 18px;
        line-height: 6.9vw;

    }
}
@media screen
and (max-width: 992px) {
    .price__table-header {
        font-size: 20px;
    }
    .price__table-form tr td {
        font-size: 14px;
    }

    .price__table-border {
        height: 289px;
        width: 305px;
    }
    .price__table-header {
        font-size: 18px;
        line-height: 53px;
        height: 53px;
    }
    .price__table-form {
        width: 95%;
    }
    .price__table-form tr td {
        font-size: 16px;
        padding: 18px 0;
        line-height: 20px;
    }
}
@media screen
and (max-width: 768px) {
   
    .price__table-distance:nth-child(2n+2) {
        transform: none;
    }

    .price__table-distance {
        margin-bottom: 45px;
    }
    .price__table-distance:last-child {
        margin-bottom: 28px;
    }

    .price__table-border {
        right: 0;
        padding-right: 0;
        height: 408px;
        width: 430px;
        margin: 0 auto;
    }
    .price__table-header {
        font-size: 20px;
        line-height: 74px;
        height: 74px;
    }
    .price__table-form {
        width: 95%;
    }
    .price__table-form tr td {
        font-size: 18px;
        padding: 28px 0;
        line-height: 20px;
    }
    .price__table-form tr td:first-child {
        bottom: 0;
        right: 0;
    }
}
@media screen
and (max-width: 576px) {
    .price { 
        padding-top: 82px;
        padding-bottom: 93px;
    }
    .price__title {
        margin-bottom: 83px;
    }

    .price__title p {
        margin-top: 15px;
        font-size: 16px;
    }
    .price__table {
        margin: 0 13%;
    }
 
    .price__table-border {
        height: 276px;
        width: 295px;
    }
    .price__table-header {
        font-size: 17px;
        line-height: 49px;
        height: 50px;
    }

    .price__table-form tr td {
        font-size: 14px;
        padding: 16px 0;
        line-height: 20px;
    }
 
   
    .price__price {
        margin-bottom: 18px;
    }
    .price__price-title {
        font-size: 18px;
    }
    .price__price-buy {
        margin-top: 10px;
    }
    .price__price-buy p {
        font-size: 15px;
        margin-top: 4px;
    }
  
}
/* Price End */

/* Massage Start */
.massage {
    padding-top: 151px;
    border-bottom: var(--primary-border) solid var(--primary-color);
    position: relative;
}
.massage__title {
    font-family: 'Avenir Black';
    font-size: var(--size-title);
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 127px;
    letter-spacing: 2px;
    position: relative;
    left: 4px;
}
.massage__page {
    padding: 0 91px;
    color: var(--primary-color);
    margin-bottom: 121px;

}
.massage__page-image {
    margin-top: 103px;
    background-color: var(--primary-color);
    position: relative;
    width: 90%;
}
.massage__page-image::after {
    content: "";
    border: var(--primary-border) solid var(--primary-color);
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translate(39px, -40px);
    z-index: 1;
}
.massage__page-image img {
    width: 100%;
    border: var(--primary-border) solid var(--primary-color);
    position: relative;
    left: 75px;
    bottom: 96px;
    z-index: 2;
}

.massage__page-title {
    font-family: 'MPLUS1p Thin';
    font-size: 52px;
    letter-spacing: -6px;
    position: relative;
    top: 3px;
}
.massage__page-desc {
    font-family: 'MPLUS1p';
    font-size: 16px;
    margin: 45px 0 49px 0;
    height: 492px;
    line-height: 35px;
}
.massage__page-signature {
    font-family: 'MPLUS1p';
    text-align: right;
    font-size: 16px;
    margin-right: 8px;
}
.massage__image {
    position: absolute;
    bottom: 0;
    left: -19px;
    width: 66%;
}
@media screen
and (max-width: 992px) {
    .massage__page {
        padding: 0 70px;
    }
    .massage__page-image {
        margin-top: 50px;
        
    }
    .massage__page-image::after {
        content: "";
        border: var(--primary-border) solid var(--primary-color);
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transform: translate(20px, -30px);
        z-index: 1;
    }
    .massage__page-image img {
        width: 100%;
        border: var(--primary-border) solid var(--primary-color);
        position: relative;
        left: 50px;
        bottom: 50px;
        z-index: 2;
    }

    .massage__page-title {
        font-size: 40px;
        letter-spacing: 0;
    }
    .massage__page-desc {
        font-size: 14px;
        margin: 30px 0 30px 0;
        line-height: 30px;
        height: auto;
    }
    .massage__page-signature {
        font-size: 14px;
    }
}
@media screen
and (max-width: 768px) {
    .massage__page {
        padding: 0 50px;
    }
    .massage__page-title {
        font-size: 30px;
    }
    .massage__page-desc {
        font-size: 12px;
        /* margin: 30px 0 30px 0; */
        line-height: 26px;
    }
    .massage__page-signature {
        font-size: 14px;
    }
}
@media screen
and (max-width: 576px) {
    .massage {
        padding-top: 76px;
    }
    .massage__page {
        margin-bottom: 41px;
        padding: 0 52px;
    }
    .massage__title {
        margin-bottom: 54px;
    }
    .massage__page-title {
        margin: 32px 0 30px 0;
        font-size: 30px;
        letter-spacing: -3px;
    }
    .massage__page-desc {
        font-size: 14px;
        line-height: 30px;
        margin: 0;
        margin-bottom: 80px;
        height: auto;
    }
    .massage__page-signature {
        font-size: 14px;
    }
    .massage__page-image {
        width: 85%;
        margin-top: 45px;
    }
    .massage__page-image::after {
        transform: translate(23px, -34px);
    }
    .massage__page-image img {
        left: 45px;
        bottom: 45px;
    }
    .massage__image {
        position: relative;
        right: 0;
        bottom: -5px;
        width: 100%;
        height: 81px;
    }
}
/* Massage End */

/* Schedule Start */
.schedule {
    padding-top: 153px;
    padding-bottom: 153px;
    border-bottom: var(--primary-border) solid var(--primary-color);
    background-image: url(./image/bg-1.png);
    background-size: cover;
}
.schedule__title {
    color: var(--primary-color);
    text-align: center;
}

.schedule__title h1 {
    font-family: 'Avenir Black';
    font-size: var(--size-title);
    text-transform: uppercase;
    letter-spacing: 2px;
}
.schedule__title p {
    font-family: 'MPLUS1p Medium';
    font-size: 24px;
    margin-top: 10px;
    letter-spacing: -4px;
    position: relative;
    right: 3px;
}
.schedule__video {
    margin: 120px 0 176px 0;
    display: flex;
    justify-content: center;
}
.schedule__video .frame_video {
    border: var(--primary-border) solid var(--primary-color);
    width: 53%;
    height: 408px;
}

.schedule__table {
    color: var(--primary-color);
    margin: 0 7%;
    margin-bottom: 141px;
    position: relative;
}
.schedule__table::after {
    content: "";
    position: absolute;
    height: var(--primary-border);
    width: 100%;
    background: var(--primary-color);
    top: 50%;
}
.schedule__table-item {
    padding: 13% 12%;
    height: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    border: var(--primary-border) solid var(--primary-color);

    background: #fff;
    border-radius: 135px;
    position: relative;
    z-index: 4;
}


.schedule__table-item__number {
    font-family: 'Avenir Black';
    font-size: 81px;
}
.schedule__table-item__title {
    font-family: 'MPLUS1p bold';
    margin: 25px 0 8px 0;
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 30px;
    min-height: 90px;
}
.schedule__table-item__content {
    font-family: 'MPLUS1p';
    font-size: 14px;
    line-height: 25px;
    min-height: 203px;
}
@media screen
and (max-width: 576px) {
    .schedule {
        padding-top: 77px;
        padding-bottom: 128px;
    }
    .schedule__title p {
        font-size: 18px;
        margin-top: 14px;
    }
    .schedule__video {
        padding: 0 6%;
        margin: 66px 0 81px 0;
        height: 194px;
    }
    .schedule__video .frame_video {
        height: 100%;
        width: 100%;
    }
    .schedule__table {
        margin-bottom: 14%;
    }
    .schedule__table-item {
        width: 80%;
        height: auto;
        margin-bottom: 14%;
        margin-left: auto;
        margin-right: auto;
    }
 
    .schedule__table::after {
        height: 100%;
        width: var(--primary-border);
        background: var(--primary-color);
        right: 50%;
        top: 0;
    }
}
/* Schedule End */

/* Voice Start */
.voice {
    padding-top: 157px;
    border-bottom: var(--primary-border) solid var(--primary-color);
    
}
.voice__title {
    color: var(--primary-color);
    text-align: center;
}

.voice__title h1 {
    font-family: 'Avenir Black';
    font-size: var(--size-title);
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    left: 1px;
}
.voice__title p {
    font-size: 24px;
    margin-top: 10px;
    font-family: 'MPLUS1p Medium';
    position: relative;
    left: -3px;
    letter-spacing: -4px;
}
.voice__table {
    margin: 158px 15% 160px 15%;
    color: var(--primary-color);
    display: flex;
    justify-content: space-around;
}
.voice__table-col {
    overflow: hidden;
    /* margin-right: 15%; */
    width: 347px;
}
.voice__table-col__image {
    width: 100%;
    position: relative;
}
.voice__table-col__image img {
    width: 94%;
    border: var(--primary-border) solid var(--primary-color);
    box-shadow: 20px 20px 0 var(--primary-color);
}

.voice__table-col__title {
    /* font-family: 'MPLUS1p ExtraBold'; */
    font-size: 24px;
    font-weight: 400;
    margin: 60px 0 32px 0;
    height: 68px;
}
.voice__table-col__desc {
    font-family: 'MPLUS1p';
    font-size: 16px;
    line-height: 29px;
}
.voice__table-col__desc p {
    height: 292px;
}
.voice__table-col__desc span {
    display: block;
    margin-top: 30px;
}
@media screen
and (max-width: 1200px) {
    .voice__table {
        margin: 158px 8% 160px 8%;
    }
}
@media screen
and (max-width: 992px) {
    .voice__table {
        margin: 158px 4% 160px 4%;
    }
}
@media screen
and (max-width: 768px) {
    .voice__table {
        margin-bottom: 50px;
        margin-top: 93px;
        flex-direction: column;
        margin-left: 12%;
        margin-right: 12%;
    }
    .voice__table-col {
        margin-bottom: 57px;
        width: 100%;
    }
    .voice__table-col__desc p {
        height: auto;
    }
}
@media screen
and (max-width: 576px) {
    .voice {
        padding-top: 77px;
    }
    .voice__title p {
        font-size: 18px;
        margin-top: 15px;
    }
  
 
    .voice__table-col:last-child {
        margin-bottom: 0;
    }
    .voice__table-col__title {
        font-size: 20px;
        margin-bottom: 16px;
        margin-top: 55px;
    }
    .voice__table-col__desc p {
        font-size: 16px;
    }
    .voice__table-col__desc span {
        margin-top: 61px;
        font-size: 13px;
    }
}
/* Voice End */

/* FAQ Start */
.faq {
    padding-top: 160px;
    border-bottom: var(--primary-border) solid var(--primary-color);
}
.faq__title {
    color: var(--primary-color);
    text-align: center;
}

.faq__title h1 {
    font-family: 'Avenir Black';
    font-size: var(--size-title);
    text-transform: uppercase;
}
.faq__title p {
    font-family: 'MPLUS1p Medium';
    font-size: 24px;
    margin-top: 10px;
    letter-spacing: -3px;
}

.faq__table {
    margin: 107px 18% 174px 18%;
    color: var(--primary-color);
    font-size: 16px;
}

.faq__table-list {
    border: 2px solid var(--primary-color);
    border-radius: 38px;
    margin-bottom: 47px;
}
.faq__table-item {
    padding: 34px 58px 27px;
    display: flex;
}
.faq__table-item:first-child {
    border-bottom: 2px solid var(--primary-color);
}
.faq__table-item b {
    font-family: 'Avenir Black';
    margin-right: 20px;
    /* position: relative;
    top: 4px; */
}
.faq__table-item span {
    font-family: 'MPLUS1p';
}
@media screen
and (max-width: 576px) {
    .faq {
        padding-top: 71px;
    }
    .faq__title p {
        font-size: 18px;
        margin-top: 14px;
    }
    .faq__table {
        margin: 100px 12% 100px 12%;
        font-size: 14px;

    }
    .faq__table-list {
        margin-bottom: 50px;
    }
    .faq__table-item {
        padding: 27px 32px;
       
    }
    .faq__table-item:first-child {
        height: 114px;
    }
    
    .faq__table-list:nth-child(3n+1) .faq__table-item:last-child {
        min-height: 157px;
    }
    .faq__table-list:nth-child(3n+2) .faq__table-item:last-child {
        min-height: 237px;
    }
    .faq__table-list:nth-child(3n+3) .faq__table-item:last-child {
        min-height: 297px;
    }
}
/* FAQ End */

/* Contact Start */
.contact {
    padding-top: 158px;
    border-bottom: var(--primary-border) solid var(--primary-color);
    color: var(--primary-color);

}
.contact__title {
    text-align: center;
}

.contact__title h1 {
    font-family: 'Avenir Black';
    font-size: var(--size-title);
    text-transform: uppercase;
    letter-spacing: 3px;
}
.contact__title p {
    font-family: 'MPLUS1p Medium';
    font-size: 24px;
    margin-top: 10px;
    letter-spacing: -2px;
}
.contact__content {
    font-family: 'MPLUS1p';
    margin-top: 88px;
    margin-bottom: 102px;
    text-align: center;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: -2px;
}
.contact__social {
    margin: 0 18%;
    margin-bottom: 86px;
    border: var(--primary-border) solid var(--primary-color);
    border-radius: 20px;
    padding: 30px 52px 30px 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact__social img {
    width: 104px;
}
.contact__social-btn {
    font-family: 'MPLUS1p Medium';
    width: 77%;
    color: #fff;
    background: var(--primary-color);
    font-size: 24px;
    padding: 12px 20px;
    border-radius: 20px;
}
.contact__form {
    margin: 0 18%;
    margin-bottom: 213px;
    color: var(--primary-color);
    font-size: var(--text-size-primary);
}
.contact__image img {
    width: 65%;
    display: block;
    margin-left: auto;
}
@media screen
and (max-width: 992px) {
    .contact__social {
        padding: 25px 45px;
    }
    .contact__social img {
        width: 90px;
    }
    .contact__social-btn {
        width: 75%;
        font-size: 20px;
    }
    .contact__form {
        margin: 0 10%;
    }
}
@media screen
and (max-width: 768px) {
    .contact__social {
        padding: 20px 10px;
    }
    .contact__social img {
        width: 70px;
    }
    .contact__social-btn {
        font-size: 18px;
    }
    .contact__form {
        margin: 0 3%;
    }
}
@media screen
and (max-width: 576px) {
    .contact {
        padding-top: 75px;
    }
    .contact__title p {
        font-size: 18px;
        margin-top: 14px;
    }
    .contact__content {
        margin: 54px 18% 77px 18%;
        font-size: 14px;
        line-height: 25px;
    }
    .contact__social {
        margin: 0 8% 87px 8%;
        padding: 15px 10px 15px 25px;

    }
    .contact__social img {
        width: 56px;
    }
    .contact__social-btn {
        font-size: 14px;
        padding: 5px 10px;
        width: 66%;

    }
    .contact__form {
        margin: 0 8% 81px 8%;
    }
    .contact__image img {
        width: 88%;
    }
}
/* Contact End */

/* footer Start */
#footer {
    background: var(--primary-color);
    color: #fff;
    padding: 20px 0 50px 0;
}
.footer__link {
    display: flex;
    align-items: center;
}
.footer__link-logo {
    margin-left: 20px;
}
.footer__link-logo img {
    width: 151px;
}
.footer__link-list {
    font-family: 'Avenir Black';
    margin-left: 42px;
}
.footer__link-list a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: var(--text-size-primary);
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 23px;
}
.footer__signature {
    font-family: 'Avenir Black';
    margin-top: 55px;
    text-align: right;
    font-size: 12px;
    margin-right: 47px;
}
@media screen
and (max-width: 768px) {
    .footer__link {
        flex-direction: column;
        align-items: flex-start;
    }

}
@media screen
and (max-width: 576px) {
    #footer {
        padding: 24px 0;
    }
    
    .footer__link-logo {
        margin-left: 24px;
    }
    .footer__link-logo img {
        width: 123px;
    }
    .footer__link-list {
        margin-top: 11px;
        margin-left: 49px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .footer__link-list a {
        width: 40%;
        font-size: 14px;
        padding: 4px 0;
    }
    .footer__signature {
        margin-top: 37px;
        font-size: 10px;
        text-align: center;
        font-weight: bold;
    }
}
/* footer End */


