:root {
    --primary-color: #FF3728;
    --width-navlist-sm: 222px;
    --primary-border: 5px;
    --height-navbar: 80px;
    --size-title: 60px;
    --padding-input: 10px;
    --text-input: 16px;
    --text-size-primary: 18px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    max-width: 1366px;
    margin: 0 auto;
}
#app {
    overflow: hidden;
}
@media screen
and (max-width: 576px) {
    :root {
        --height-navbar: 73px;
        --primary-border: 3px;
        --size-title: 40px;
        --padding-input: 5px;
        --text-input: 14px;
        --text-size-primary: 14px;

    }
    #app {
        width: 100%;
    }
    .mb-phone-0 {
        margin-bottom: 0 !important;
    }
}
/* Form Start */
.btn {
    border: none;
    width: 187px;
    height: 38px;
    font-weight: bold;
    font-size: var(--text-size-primary);
    cursor: pointer;
    border-radius: 4px;
}
.btn-primary {
    color: #fff;
    background-color: var(--primary-color);
}

.btn i {
    display: none;
}
.btn.hiden span{
    display: none;
}
.btn.hiden i {
    display: block;
}

.home__btn {
    margin: 94px auto 150px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: var(--text-size-primary);
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    width: 361px;
    height: 60px;
    padding: 0 25px;
    cursor: pointer;
    position: relative;
}
.home__btn > p {
    display: none;
    position: absolute;
    top: 0; left: 0; right: 0;bottom: 0;
    transform: translateY(-110%);
    border: 1px solid #1fb11a;
    background: #1fb11a;
    line-height: 50px;
    animation: loadSuccess 0.4s linear 0s 1;
}
.home__btn.success > p {
    display: block;
}
@keyframes loadSuccess {
    0% {
        opacity: 0;
        transform: translate(-100%, -110%);
    }
    100% {
        opacity: 1;
        transform: translate(0, -110%);
    }
}

.home__btn span {
    transition: all linear 0.4s;
}
.home__btn img {
    width: 16px;
    transition: all linear 0.4s;
}
.home__btn:hover span {
    transform: rotateY(360deg);
}
.home__btn:hover img {
    transform: rotate(360deg);
}
.home__btn::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: var(--primary-border) solid var(--primary-color);
    transform: translate(6px, 6px);
}

.form__group {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
    align-items: center;
}
/* form group */
.form__group > label:first-child {
    width: 30%;
}
.form__group.pc-01 > label:first-child {
    width: 40%;
}
.form__group .line,
.form__group .line-1 {
    width: 70%;
    height: 2px;
    background-color: var(--primary-color);
    margin: 10px 0;
    position: relative;
}
.form__group.pc-01 .line-1 {
    width: 60%;
}

.form__group .line::after,
.form__group .form__input::after,
.form__group .form__select::after,
.form__group .form__date::after {
    content: "※必須";
    position: absolute;
    left: 0;
    font-size: 9px;
    font-weight: bold;
}
.form__group .line::after {
    top: -5px;
    transform: translateX(-130%);
}
.form__group .form__input::after,
.form__group .form__select::after,
.form__group .form__date::after {
    top: 50%;
    transform: translate(-130%, -50%);
}

/* radio */
.form__radio {
    width: 100%;
    position: relative;
    margin-top: 10px;
    margin-left: 30%;
}

.form__radio .radio-check {

}
.form__radio .radio-check label {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 10px;
    user-select: none;
    cursor: pointer;
}
.form__radio .radio-check label input[type="radio"] {
    display: none;
}
.form__radio .radio-check label .radio__custom {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid var(--primary-color);
    position: relative;
    top: 2px;
}
.form__radio .radio-check label .radio__custom::after {
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    border-radius: 50%;
    top: 1px; right: 1px; bottom: 1px; left: 1px;
    display: none;
}
.form__radio .radio-check label input[type="radio"]:checked + .radio__custom::after {
    display: block;
}
.form__radio textarea {
    width: 100%;
    border: 2px solid rgba(255, 55, 40, 0.6);
    outline: none;
}
.form__radio textarea:focus,
.form__radio textarea:hover {
    border: 2px solid var(--primary-color);
}
/* input */
.form__group .form__input {
    width: 70%;
    display: flex;
    position: relative;
}


.form__group .form__input input[type="text"],
.form__group .form__input input[type="email"] {
    padding: var(--padding-input);
    outline: none;
    border: 2px solid rgba(255, 55, 40, 0.6);
    width: 100%;
    color: var(--primary-color);
    font-size: var(--text-input);
}
.form__group .form__input input::placeholder {
    color: var(--primary-color);
    opacity: 0.8;
}
.form__group .form__input input[type="text"]:hover,
.form__group .form__input input[type="text"]:focus,
.form__group .form__input input[type="email"]:hover,
.form__group .form__input input[type="email"]:focus {
    border: 2px solid var(--primary-color);
}
.form__group .form__input input[type="text"]:first-child {
    margin-right: 10px;
}
.form__group .form__input input[type="text"] + input[type="text"] {
    margin-left: 10px;
} 
/* select */
.form__select {
    width: 70%;
    display: flex;
    position: relative;
    user-select: none;

}
.form__select input[type="text"] {
    padding: var(--padding-input);
    outline: none;
    border: 2px solid rgba(255, 55, 40, 0.6);
    width: 100%;
    color: var(--primary-color);
    font-size: var(--text-input);
    cursor: pointer;    
    user-select: none;
}
.form__select > i {
    position: absolute;
    top: 10%; right: 10px;
    font-size: 24px;
    cursor: pointer;    
}
.form__select .select-option {
    position: absolute;
    border: 2px solid var(--primary-color);
    background: #fff;
    border-top: none;
    top: 100%;
    left: 0;
    right: 0;
    height: auto;
    display: none;
    flex-direction: column;
    z-index: 5;
}

.form__select.select .select-option{
    display: flex;

}
.form__select .select-option span {
    padding: var(--padding-input);
    cursor: pointer;
}
.form__select .select-option span:hover {
    background-color: rgba(255, 55, 40, 0.2);
}
/* form date */
.form__date {
    width: 70%;
    position: relative;
}
.form__date input[type="text"] {
    padding: var(--padding-input);
    outline: none;
    border: 2px solid rgba(255, 55, 40, 0.6);
    width: 100%;
    color: var(--primary-color);
    font-size: var(--text-input);
    width: 20%;
    position: relative;
}
.form__date span {
    display: inline-block;
    width: 10px;
    height: 2px;
    background-color: var(--primary-color);
    margin: 0 5px;
}

.form__date input[type="text"]:hover,
.form__date input[type="text"]:focus {
    border: 2px solid var(--primary-color);
}
/* check box */
.form__checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.form__checkbox input[type="checkbox"] {
    display: none;
}
.form__checkbox .custom {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid var(--primary-color);
    margin-right: 10px;
    position: relative;
}
.form__checkbox .custom i {
    display: none;
    position: absolute;
    top: -9px;
    left: -4px;
    font-size: 24px;
}
.form__checkbox input[type="checkbox"]:checked + .custom i {
    display: block;
}
/* policy */
.form__policy {
    margin: 60px 20% 0 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form__policy-desc {
    margin: 20px 0;
    border: 3px solid var(--primary-color);
    padding: 10px;
    height: 100px;
    overflow: auto;
}
.form__policy-desc::-webkit-scrollbar {
    width: 4px;
}
.form__policy-desc::-webkit-scrollbar-thumb {
    background-color: #FF3728;
}

@media screen
and (max-width: 576px) {
    .btn {
        border: none;
        padding: 4px 19px;
        font-weight: bold;
        font-size: 12px;
        cursor: pointer;
        width: 98px;
        height: 24px;
    }
 
    .home__btn {
        margin: 18px auto 94px auto;
        font-size: 13px;
        width: 271px;
        height: 45px;
    }
    .home__btn img {
        width: 9px;
    }
    /* form group */
    .form__group > label:first-child {
        width: 50%;
        font-size: 12px;
    }
    .form__group .line {
    width: 50%;
    height: 2px;
    background-color: var(--primary-color);
    margin: 10px 0;
    position: relative;
    }
    .form__group .form__input::after,
    .form__group .form__select::after,
    .form__group .form__date::after {
        left: 25%;
        top: -50%;
    }
    .form__group .form__date::after {
        left: 30%;
    }
    .form__group.location-mb-1 .form__input::after {
        left: 50%;
    }
    .form__group.pc-01 > label:first-child {
        width: 70%;
    }
    .form__group.pc-01 .line-1 {
        width: 30%;
    }
    /* radio */
    .form__radio {
        margin: 10px 0 0 0;
    }
    .form__radio .radio-check label {
        margin-right: 20px;
        margin-bottom: 10px;
    }
    .form__radio .radio-check label .radio__custom {
        margin-right: 5px;
    }
    .form__group.pc-01 .form__radio .radio-check label {
        display: block;
    }
    /* input */
    .form__group .form__input {
        width: 100%;
        margin-top: 10px;
    }
    /* select */
    .form__select {
        width: 100%;
        margin-top: 10px;
    }
    .form__select > i {
        top: 5%; right: 10px;
        font-size: var(--text-size-primary);
    }
    /* form date */
    .form__date {
        width: 100%;
        margin-top: 10px;

    }
    .form__date input[type="text"] {
        width: 25%;
    }
    /* policy */
    .form__policy {
        margin: 40px 0 0 0;
    }
}
/* Form End */

/* Nav Bar Start  */
#navbar {
    max-width: 1366px;
    margin: auto;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #fff;
    z-index: 100;
}
.navbar {
    height: var(--height-navbar);
    /* background-color: #ccc; */
    display: flex;
    align-items: center;
    border-bottom: var(--primary-border) solid var(--primary-color);
    
}

.navbar__logo {
    width: 69px;
    height: 69px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar__logo img {
    width: 80%;
    height: 80%;
}
.navbar__list {
    margin-left: 78px;
    overflow: hidden;
    height: 25px;
}
.navbar__list .navbar__item {
    display: inline-block;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 26px;
    /* cursor: pointer; */
    cursor: pointer;
}
.navbar__list .navbar__item a {
    text-decoration: none;
    color: var(--primary-color);
    user-select: none;
    font-size: var(--text-size-primary);
    font-weight: 800;
    line-height: 25px;
}
.navbar__list .navbar__item:hover {
    background-color: var(--primary-color);
}
.navbar__list .navbar__item:hover a {
    color: #fff;
}
.navbar__auth {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.navbar__auth .navbar__auth-btn,
.navbar__auth .navbar__auth-social,
.navbar__auth .navbar__auth-icon-sm {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.navbar__auth .navbar__auth-social img {
    width: 44px;
}
.navbar__auth .navbar__auth-icon-sm {
    display: none;
}
@media screen
and (max-width: 576px) {
    .navbar__logo {
        width: 63px;
        height: 63px;
    }
    .navbar__auth .navbar__auth-icon-sm {
        display: inline;
        font-size: 15px;
        color: var(--primary-color);
        font-weight: bold;
    }
    .navbar__list {
        height: auto;
        margin: 0;
        position: fixed;
        /* right: 10px; */
        right: calc(0px - var(--width-navlist-sm));
        top: 14px;
        width: var(--width-navlist-sm);
        border: var(--primary-border) solid var(--primary-color);
        background-color: #fff;
        transition: right linear 0.2s;
        z-index: 10;
    }
    .navbar__list.show {
        right: 10px;
    }
    .navbar__list .navbar__item {
        display: block;
        margin-top: 14px;
        margin-left: 28px;
    }
    .navbar__list .navbar__item:first-child {
        margin-top: 30px;
    }
    .navbar__list .navbar__item:last-child {
        margin-bottom: 30px;
    }
    .navbar__list .close-custom {
        position: absolute;
        top: 14px;
        right: 11px;
        font-size: 16px;
        color: var(--primary-color);
        font-weight: bold;
    }
    .navbar__auth .navbar__auth-social img {
        width: 29px;
    }
    .navbar__auth .navbar__auth-btn,
    .navbar__auth .navbar__auth-social,
    .navbar__auth .navbar__auth-icon-sm  {
        margin-right: 18px;
    }
}
/* Nav Bar End  */

/* Slider Start */
.slider {
    display: flex;
    border: var(--primary-border) solid var(--primary-color);
    border-top: none;
    overflow: hidden;
    margin-top: var(--height-navbar);
    height: 673px;
}

.slider__left {
    border-right: var(--primary-border) solid var(--primary-color);
    width: 53%;
    position: relative;

}
.slider__left-image1, .slider__left-image2 {
    width: 100%;
    margin-top: 20px;
}
.slider__left-image2 {
    margin-top: 15px;

}
.slider__left-image2 img {
    width: 75%;
}
.slider__left-image1 img {
    width: 67%;
}
.slider__left-image2 {
    text-align: center;
}
.slider__left-image1 {
   position: absolute;
   bottom: 0;
   left: 0;
}
.slider__left-image1 img {
    position: relative;
    top: 4px;
}
.slider__right {
    width: 47%;
}

.slider__right-top {
    height: 57%;
    overflow: hidden;
}
.slider__right-top img {
    height: 100%;
}
.slider__right-button {
    border-top: var(--primary-border) solid var(--primary-color);
    display: flex;
    height: 43%;
}
.slider__right-button__left {
    border-right: var(--primary-border) solid var(--primary-color);
    width: 39%;
    text-align: center;
}
.slider__right-button__left span {
    display: inline-block;
    overflow: hidden;
    font-weight: bold;
    color: var(--primary-color);

    font-size: 90px;
    line-height: 110px;
    height: 220px;
    width: 90%;
    
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.slider__right-button__right {
    width: 61%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider__right-button__right .title {
    color: var(--primary-color);
    font-size: 46px;
    font-weight: bold;
}
.slider__right-button__right .title p {
    padding: 5px;
}
.slider__right-button__right .title p:last-child {
    border: var(--primary-border) solid var(--primary-color);
}
.slider__right-button__right .img-1 {
    position: absolute;
    width: 72%;
    bottom: 0px;
    right: 0;
}
@media screen
and (max-width: 1200px) {
    .slider__right-button__left span {
        font-size: 76px;
        line-height: 94px;
        height: 188px;
    }
    .slider__right-button__right .title {
        font-size: 40px;
    }
}
@media screen
and (max-width: 992px) {
    .slider__left {
        display: flex;
        align-items: center;
    }
/*     
    .slider__left-image1 img {
        width: 70%;
    } */
    .slider__right-button__left span {
        font-size: 58px;
        line-height: 74px;
        height: 148px;
    }
    .slider__right-button__right .title {
        font-size: 30px;
    }
}
@media screen
and (max-width: 768px) {
   
    .slider__right-button__left span {
        font-size: 42px;
        line-height: 56px;
        height: 112px;
    }
    .slider__right-button__right .title {
        font-size: 18px;
    }
}
@media screen
and (max-width: 576px) {
    .slider {
        border: none;
        flex-direction: column;
        height: auto;
    }
    .slider__left {
        border: none;
        width: 100%;
        /* height: 337px; */
        border-bottom: var(--primary-border) solid var(--primary-color);
        margin-top: 30px;
        flex-direction: column;
    }
    .slider__left-image2 {
        margin-top: 0;
    }
    .slider__left-image2 img {
        width: 68%;
    }
    .slider__left-image1 {
        position: relative;
        margin-top: 15px;
    }
    .slider__left-image1 img{
        width: 74%;
    }

    .slider__right {
        width: 100%;
    }
    .slider__right-top {
        height: 225px;
    }
    .slider__right-top img {
        width: 100%;
    }
    .slider__right-button {
        border-bottom: var(--primary-border) solid var(--primary-color);
        height: 174px;
    }
    .slider__right-button__left span {
        font-size: 52px;
        line-height: 60px;
        height: 120px;
        width: 75%;
    }
    .slider__right-button__right {
        align-items: flex-start;
    }
    .slider__right-button__right .title {
        font-size: 25px;
        margin-top: 30px;

    }
    .slider__right-button__right .img-2 {
        width: 75%;
    }
}
/* Slider End */


/* Slider 2 Start */
.slider-2 {
    background-image: url(./image/bg-1.png);
    height: 576px;
    position: relative;
    border-bottom: var(--primary-border) solid var(--primary-color);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.slider-2 .slider-2__content {
    color: var(--primary-color);
    font-weight: bold;
    /* margin-left: 10%; */
}
.slider-2 .slider-2__content p {
    margin-top: 10px;
    font-size: var(--text-size-primary);

}
.slider-2 .slider-2__image {
    width: 55%;
    position: relative;
}
.slider-2 .slider-2__image .image-4 {
    width: 100%;
}
.slider-2 .slider-2__image .image-1 {
    position: absolute;
    bottom: 10%;
    right: 0;
    transform: translateX(20%);
    width: 10%;
}
.slider-2 .slider-2__image .image-2 {
    position: absolute;
    width: 20%;
    top: 0;
    left: 45%;
    transform: translateY(-20%);
}
.slider-2 .slider-2__image .image-3 {
    position: absolute;
    width: 23%;
    left: 0;
    bottom: 0;
    transform: translate(-35%, 30%);
}

@media screen
and (max-width: 576px) {
    
    .slider-2 {
        flex-direction: column;
        height: 337px;
        justify-content: space-around;
        padding: 20px 0;
    }
    .slider-2 .slider-2__content {
        font-size: 15px;
    }
    .slider-2 .slider-2__content p {
        margin-top: 4px;
        font-size: 15px;
    }
    .slider-2 .slider-2__image {
        width: 81%;
    }
}
/* Slider 2 End */

/* Poin Start */
.poin {
    padding-top: 103px;
    text-align: center;
    border-bottom: var(--primary-border) solid var(--primary-color);

}
.poin__title {
    color: var(--primary-color);
    font-size: var(--size-title);
    font-weight: bold;
}
.poin__table {
    margin: 0 11%;
    margin-top: 139px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 20px 20px 0 #FF9A92;    
}


.poin__cell {
    color: var(--primary-color);
    width: 50%;
    border: var(--primary-border) solid var(--primary-color);
    padding: 10% 10%;
    /* background-color: #fff; */
    position: relative;
    height: 740px;
}
.poin__cell:nth-child(4n+1) {
    border-right: none;
}
.poin__cell:nth-child(4n+3) {
    border-right: none;
    border-top: none;
}
.poin__cell:nth-child(4n+4) {
    border-top: none;
}
.poin__cell-image {
    border: 3px solid var(--primary-color);
    width: 100%;
}
.poin__cell-title {
    margin-top: 6%;
    margin-bottom: 9%;
    padding: 0 2%;
    font-size: 24px;
}
.poin__cell-desc {
    padding: 0 2%;
    text-align: justify;
    font-size: 16px;
}

.poin__cell .logo-1 {
    position: absolute;
    width: 50%;
    top: 0;
    left: -27%;
    transform: translateY(-55%);
}
.poin__cell .logo-2 {
    position: absolute;
    width: 14%;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}
.poin__cell .logo-3 {
    position: absolute;
    background-color: #fff;
    width: 28%;
    left: 0;
    top: 30%;
    transform: translateX(-60%);
}
.poin__cell .logo-4 {
    position: absolute;
    width: 14%;
    right: 0;
    top: 20%;
    transform: translateX(50%);
}
.poin__cell .logo-5 {
    position: absolute;
    width: 33%;
    bottom: 0;
    right: -10%;
    transform: translateY(30%);
}

.poin__scenery {
    margin-top: 101px;
    display: flex;
}
.poin__scenery img {
    width: 50%;
}

.poin__scenery .logo-1 {
    bottom: 0;
    left: 0;
}
.poin__scenery .logo-2 {
    bottom: 0;
    right: 0;
}
@media screen
and (max-width: 576px) {
    .poin {
        padding-top: 75px;
    }
    .poin__title {
        margin-bottom: 72px;
    }
    .poin__table {
        box-shadow: none;
        margin: 0;
    }
    .poin__cell {
        width: 100%;
        border-left: none;
        border-right: none;
        padding: 20% 7%;
    }
    .poin__cell:first-child {
        height: 624px;

    }
    .poin__cell-image {
        width: 97%;
    }
    .poin__cell:nth-child(4n+2) {
        border-top: none;
    }

    .poin__cell .logo-2 {
        width: 19%;
        left: inherit;
        top: 0;
        right: 0;
    }
    .poin__cell .logo-3 {
        background-color: initial;
        top: 0;
        left: inherit;
        transform: translateY(-37%);
        z-index: 10;
        width: 38%;
    }
    .poin__cell .logo-4 {
        right: 10%;
        top: 0;
        transform: none;
        transform: translateY(-50%);
        width: 19%;
    }
    .poin__cell .logo-5 {
        width: 44%;
        bottom: 0;
        right: 10%;
        transform: translateY(30%);
    }
    .poin__cell .logo-6 {
        position: absolute;
        width: 30%;
        top: 0;
        left: 0;
        transform: translateY(-104%);
    }
    .poin__scenery {
        margin-top: 35px;
    }
    .poin__scenery .logo-1 {
        width: 100%;
        bottom: 0;
        left: 0;
    }
}
/* Poin End */

/* Price Start */
.price {
    padding-top: 155px;
    border-bottom: var(--primary-border) solid var(--primary-color);
}
.price__title {
    color: var(--primary-color);
    text-align: center;
}
.price__title h1 {
    font-size: var(--size-title);
}
.price__title p {
    font-size: 24px;
    margin-top: 10px;
}
.price__table {
    margin: 99px 13% 12px 13%;
    
}
.price__table-border {
    padding: 0 4% 5% 0;
}
.price__table-border:nth-child(2n+2) {
    transform: translateX(10%);
}
.price__table-form, 
.price__table-form th, 
.price__table-form td {
    border: 3px solid var(--primary-color);
    font-size: 20px;
    text-align: center;
    padding: 29px 0;
}

.price__table-form {
    border-collapse:collapse;
    width: 100%;
    position: relative;
}
.price__table-form thead {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translate(18px, 24px);
    border: 3px solid var(--primary-color);
    border-top: none;
    border-left: none;
}
.price__table-form thead::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: var(--primary-color);
    top: -14px;
    right: -9px;
    transform: rotate(60deg);
}
.price__table-form thead::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: var(--primary-color);
    bottom: 8px;
    left: -24px;
    transform: rotate(49deg);

}
.price__table-form tr {
    color: var(--primary-color);
}
.price__table-form tr:first-child {
    color: #fff;
    background-color: var(--primary-color);
}
.price__table-form tr:first-child td {
    font-size: 24px;

}
.price__price {
    text-align: center;
    color: var(--primary-color);
}
.price__price-title {
    font-size: 24px;
}
.price__price-buy {
    margin-top: 30px;
}
.price__price-buy p {
    margin-top: 10px;
    font-size: 20px;
}

@media screen
and (max-width: 576px) {
    .price { 
        padding-top: 74px;
    }
    .price__title {
        margin-bottom: 80px;
    }

    .price__title p {
        margin-top: 15px;
        font-size: 16px;
    }
    .price__table {
        margin: 0 13%;
    }
    .price__table-form {
        width: 92%;
    }
    .price__table-form th, 
    .price__table-form td {
        font-size: 14px;
        padding: 16px 0;
    }
    .price__table-form tr:first-child td {
        font-size: 17px;
    }
    .price__table-border {
        margin-bottom: 40px;
        padding-right: 0;
    }
    .price__table-border:nth-child(2n+2) {
        transform: none;
    }
    .price__table-border:last-child {
        margin-bottom: 25px;
    }
    .price__price-title {
        font-size: 18px;
    }
    .price__price-buy {
        margin-top: 10px;
    }
    .price__price-buy p {
        font-size: 15px;
        margin-top: 4px;
    }
  
}
/* Price End */

/* Massage Start */
.massage {
    padding-top: 156px;
    border-bottom: var(--primary-border) solid var(--primary-color);
    position: relative;
}
.massage__title {
    font-size: var(--size-title);
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 128px;
}
.massage__page {
    padding: 0 91px;
    color: var(--primary-color);
    margin-bottom: 126px;

}
.massage__page-image {
    margin-top: 100px;
    background-color: var(--primary-color);
    position: relative;
    width: 80%;
}
.massage__page-image::after {
    content: "";
    border: var(--primary-border) solid var(--primary-color);
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translate(35px, -45px);
    z-index: 1;
}
.massage__page-image img {
    width: 100%;
    border: var(--primary-border) solid var(--primary-color);
    position: relative;
    left: 75px;
    bottom: 100px;
    z-index: 2;
}

.massage__page-title {
    font-size: 52px;
    font-weight: 400;

}
.massage__page-desc {
    font-size: 16px;
    margin: 42px 0 45px 0;
    height: 492px;
}
.massage__page-signature {
    text-align: right;
    font-size: 16px;
}
.massage__image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 65%;
}
@media screen
and (max-width: 576px) {
    .massage {
        padding-top: 72px;
    }
    .massage__page {
        margin-bottom: 52px;
        padding: 0 52px;
    }
    .massage__title {
        margin-bottom: 52px;
    }
    .massage__page-title {
        margin: 40px 0 37px 0;
        font-size: 30px;
    }
    .massage__page-desc {
        font-size: 14px;
        margin: 0;
        margin-bottom: 86px;
        height: auto;
    }
    .massage__page-signature {
        font-size: 14px;
    }
    .massage__page-image {
        width: 85%;
        margin-top: 45px;
    }
    .massage__page-image::after {
        transform: translate(25px, -20px);
    }
    .massage__page-image img {
        left: 45px;
        bottom: 45px;
    }
    .massage__image {
        position: relative;
        right: 0;
        bottom: -5px;
        width: 100%;
        height: 81px;
    }
}
/* Massage End */

/* Schedule Start */
.schedule {
    padding-top: 155px;
    border-bottom: var(--primary-border) solid var(--primary-color);
    background-image: url(./image/bg-1.png);
    background-size: cover;
}
.schedule__title {
    color: var(--primary-color);
    text-align: center;
}

.schedule__title h1 {
    font-size: var(--size-title);
    text-transform: uppercase;
}
.schedule__title p {
    font-size: 24px;
    margin-top: 10px;
}
.schedule__video {
    margin: 120px 0 200px 0;
    display: flex;
    justify-content: center;
}
.schedule__video .frame_video {
    border: var(--primary-border) solid var(--primary-color);
    border-radius: 20px;
    width: 53%;
    height: 408px;
}

.schedule__table {
    color: var(--primary-color);
    margin: 0 7%;
    margin-bottom: 227px;
    position: relative;
}
.schedule__table::after {
    content: "";
    position: absolute;
    height: var(--primary-border);
    width: 100%;
    background: var(--primary-color);
    top: 50%;
}
.schedule__table-item {
    padding: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    border: var(--primary-border) solid var(--primary-color);
    border-top: none;
    border-bottom: none;

    background: #fff;
    border-radius: 15%;
    position: relative;
    z-index: 4;
}
.schedule__table-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 65%;
    border-radius: 50%;
    transform: translateY(-22%);
    border-top: var(--primary-border) solid var(--primary-color);
    background: linear-gradient(to bottom, #fff 20%, transparent 40%, transparent 60%);
}
.schedule__table-item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 65%;
    border-radius: 50%;
    transform: translateY(22%);
    border-bottom: var(--primary-border) solid var(--primary-color);
    background: linear-gradient(to top, #fff 20%, transparent 40%, transparent 60%);

}

.schedule__table-item__number {
    font-size: 81px;
    font-weight: bold;
}
.schedule__table-item__title {
    margin: 25px 0 19px 0;
    font-size: 19px;
}
.schedule__table-item__content {
    font-size: 14px;
}
@media screen
and (max-width: 576px) {
    .schedule {
        padding-top: 70px;
    }
    .schedule__title p {
        font-size: 18px;
    }
    .schedule__video {
        padding: 0 6%;
        margin: 66px 0 97px 0;
        height: 194px;
    }
    .schedule__video .frame_video {
        height: 100%;
        width: 100%;
    }
    .schedule__table {
        margin-bottom: 30%;
    }
    .schedule__table-item {
        width: 80%;
        height: auto;
        margin-bottom: 20%;
        margin-left: auto;
        margin-right: auto;
    }
 
    .schedule__table::after {
        height: 100%;
        width: var(--primary-border);
        background: var(--primary-color);
        right: 50%;
        top: 0;
    }
}
/* Schedule End */

/* Voice Start */
.voice {
    padding-top: 163px;
    border-bottom: var(--primary-border) solid var(--primary-color);
    
}
.voice__title {
    color: var(--primary-color);
    text-align: center;
}

.voice__title h1 {
    font-size: var(--size-title);
    text-transform: uppercase;
}
.voice__title p {
    font-size: 24px;
    margin-top: 10px;
}
.voice__table {
    margin: 158px 15% 164px 15%;
    color: var(--primary-color);
    display: flex;
    justify-content: space-around;
}
.voice__table-col {
    overflow: hidden;
    /* margin-right: 15%; */
    width: 347px;
}
.voice__table-col__image {
    width: 100%;
    position: relative;
}
.voice__table-col__image img {
    width: 94%;
    border: var(--primary-border) solid var(--primary-color);
    box-shadow: 20px 20px 0 var(--primary-color);
}

.voice__table-col__title {
    font-size: 24px;
    font-weight: 400;
    margin: 60px 0 32px 0;
    height: 68px;
}
.voice__table-col__desc {
    font-size: 16px;
}
.voice__table-col__desc p {
    height: 292px;
}
.voice__table-col__desc span {
    display: block;
    margin-top: 30px;
}
@media screen
and (max-width: 576px) {
    .voice {
        padding-top: 73px;
    }
    .voice__title p {
        font-size: 18px;
    }
    .voice__table {
        margin-bottom: 61px;
        margin-top: 100px;
        flex-direction: column;
        margin-left: 12%;
        margin-right: 12%;
    }
    .voice__table-col {
        margin-bottom: 71px;
        width: 100%;
    }
    .voice__table-col:last-child {
        margin-bottom: 0;
    }
    .voice__table-col__title {
        font-size: 20px;
        margin-bottom: 28px;
    }
    .voice__table-col__desc p {
        font-size: 16px;
        height: auto;
    }
    .voice__table-col__desc span {
        margin-top: 61px;
        font-size: 13px;
    }
}
/* Voice End */

/* FAQ Start */
.faq {
    padding-top: 160px;
    border-bottom: var(--primary-border) solid var(--primary-color);
}
.faq__title {
    color: var(--primary-color);
    text-align: center;
}

.faq__title h1 {
    font-size: var(--size-title);
    text-transform: uppercase;
}
.faq__title p {
    font-size: 24px;
    margin-top: 10px;
}

.faq__table {
    margin: 107px 18% 172px 18%;
    color: var(--primary-color);
    font-size: 16px;
}

.faq__table-list {
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    margin-bottom: 50px;
}
.faq__table-item {
    padding: 29px 55px;
    display: flex;
}
.faq__table-item:first-child {
    border-bottom: 2px solid var(--primary-color);
}
.faq__table-item b {
    margin-right: 20px;
    position: relative;
    top: 4px;
}
@media screen
and (max-width: 576px) {
    .faq {
        padding-top: 67px;
    }
    .faq__title p {
        font-size: 18px;
    }
    .faq__table {
        margin: 103px 12% 100px 12%;
        font-size: 14px;

    }
  
    .faq__table-item {
        padding: 30px 32px;

    }
}
/* FAQ End */

/* Contact Start */
.contact {
    padding-top: 162px;
    border-bottom: var(--primary-border) solid var(--primary-color);
    color: var(--primary-color);

}
.contact__title {
    text-align: center;
}

.contact__title h1 {
    font-size: var(--size-title);
    text-transform: uppercase;
}
.contact__title p {
    font-size: 24px;
    margin-top: 10px;
}
.contact__content {
    margin-top: 85px;
    margin-bottom: 107px;
    text-align: center;
    font-size: 16px;
}
.contact__social {
    margin: 0 18%;
    margin-bottom: 86px;
    border: var(--primary-border) solid var(--primary-color);
    border-radius: 20px;
    padding: 30px 64px 30px 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact__social img {
    width: 104px;
}
.contact__social-btn {
    width: 80%;
    color: #fff;
    background: var(--primary-color);
    font-size: 24px;
    padding: 12px 20px;
    border-radius: 20px;
}
.contact__form {
    margin: 0 18%;
    margin-bottom: 213px;
    color: var(--primary-color);
    font-size: var(--text-size-primary);
}
.contact__image img {
    width: 65%;
    display: block;
    margin-left: auto;
}
@media screen
and (max-width: 576px) {
    .contact {
        padding-top: 73px;
    }
    .contact__title p {
        font-size: 18px;
    }
    .contact__content {
        margin: 60px 18% 77px 18%;
        font-size: 14px;
    }
    .contact__social {
        margin: 0 8% 40px 8%;
        padding: 15px 10px;

    }
    .contact__social img {
        width: 56px;
    }
    .contact__social-btn {
        font-size: 14px;
        padding: 5px 10px;
        width: 66%;

    }
    .contact__form {
        margin: 0 8% 71px 8%;
    }
}
/* Contact End */

/* footer Start */
#footer {
    background: var(--primary-color);
    color: #fff;
    padding: 20px 0 50px 0;
}
.footer__link {
    display: flex;
    align-items: center;
}
.footer__link-logo {
    margin-left: 20px;
}
.footer__link-logo img {
    width: 153px;
}
.footer__link-list {
    margin-left: 40px;
}
.footer__link-list a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: var(--text-size-primary);
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 25px;
}
.footer__signature {
    margin-top: 60px;
    text-align: right;
    font-size: 12px;
    margin-right: 47px;
}
@media screen
and (max-width: 576px) {
    #footer {
        padding: 24px 0;
    }
    .footer__link {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer__link-logo {
        margin-left: 24px;
    }
    .footer__link-logo img {
        width: 123px;
    }
    .footer__link-list {
        margin-top: 11px;
        margin-left: 49px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .footer__link-list a {
        width: 40%;
        font-size: 14px;
        padding: 4px 0;
    }
    .footer__signature {
        margin-top: 37px;
        font-size: 10px;
        text-align: center;
        font-weight: bold;
    }
}
/* footer End */


